{
	"$schema": "https://opencode.ai/config.json",
	"mcp": {
		"sequential-thinking": {
			"type": "local",
			"command": [
				"npx",
				"-y",
				"@modelcontextprotocol/server-sequential-thinking"
			],
			"enabled": true
		},
		"playwright": {
			"type": "local",
			"command": [
				"npx",
				"@playwright/mcp@latest",
				"--browser",
				"chrome"
			],
			"enabled": true
		},
		"context7": {
			"type": "local",
			"command": [
				"npx",
				"-y",
				"@upstash/context7-mcp",
				"--api-key",
				"{{ (bitwarden "item" "Context7 API Key").login.password }}"
			],
			"enabled": false
		},
		"ref": {
			"type": "local",
			"command": [
				"npx",
				"ref-tools-mcp@latest"
			],
			"environment": {
        "REF_API_KEY": "{{ (bitwarden "item" "REF API Key").login.password }}"
			},
			"enabled": true
		}
	},
	"provider": {
		"openai": {
			"models": {
				"gpt-5": {
					"options": {
						"reasoningEffort": "high",
						"textVerbosity": "low",
						"reasoningSummary": "auto",
						"include": [
							"reasoning.encrypted_content"
						]
					}
				}
			}
		}
	}
}
