{{- $bwEmail := "" -}}
{{- $bwServer := "" -}}
{{- $githubUsername := "" -}}

{{- if stdinIsATTY -}}
{{- $bwEmail = promptStringOnce . "bitwarden.email" "Bitwarden email" -}}
{{- $bwServer = promptStringOnce . "bitwarden.server" "Bitwarden server URL (e.g., https://vault.example.com)" -}}
{{- $githubUsername = promptStringOnce . "github.username" "GitHub username" -}}
{{- else -}}
{{- $bwEmail = env "BITWARDEN_EMAIL" -}}
{{- $bwServer = env "BITWARDEN_SERVER" -}}
{{- $githubUsername = env "GITHUB_USERNAME" -}}
{{- end -}}

[data]
    bwEmail = {{ $bwEmail | quote }}
    bwServer = {{ $bwServer | quote }}
    githubUsername = {{ $githubUsername | quote }}

[bitwarden]
    command = "bw"
